doctype html
head
  meta(charset='UTF-8')
  meta(content='width=device-width, initial-scale=1.0', name='viewport')
  link(href='/style.css', rel='stylesheet')
  title ODraw 4.0!
  script(src='/socket.io/socket.io.js')
  script(src='/script.js')
canvas#canvas(scroll='no')
