doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title ODraw 4.0!
  script(src='/socket.io/socket.io.js')
  script(src='/index.js')
p Welcome to ODraw! This is the landing page.

input#codeInput

button#connectBtn Connect Using Code

button#newCanvBtn Make a new Canvas
